* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
}

.btn {
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1rem;
    border-radius: 6rem;
    cursor: pointer;
    border: 1px solid rgb(88, 88, 134);
    color: white;
    background-color: #092454;
}

.btn:hover {
    background-color: rgb(50, 50, 139);
    color: white;
    border-color: transparent;
}