@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


body {
    background-image: url('../images/log.png');
    background-size: cover;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bold;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
}
.header > h1{
    margin-top: 10px;
    color: #1f3e72;
}
.header > p{
    padding: 0.8rem;
    line-height: 1.2rem;
    color: #8e98ae;
    text-align: justify;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}
.contact-info{
    width: 60%;
    height: 70%;
    padding: 30px 40px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    margin-left: 100px;
}
.info{
    text-align: center;
}
.info > h3{
    margin-top: 15px;
    color: black;
}
.info p ,.info a{
    color: #1f3e72;
}
.icons{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    cursor: pointer;
}
.icons a i {
    font-size: 30px; 
}
.contact-form{
    width: 80%;
    padding: 30px 40px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    margin-left: 140px;
}

.contact-form label{
    color: #1f3e72;
}
.contact-form > p{
    font-weight: 900;
    text-align: center;
    color: rgba(0, 81, 255, 0.902);
    margin-bottom: 10px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="phone"],
.contact-form textarea  {
    position: relative;
    width: 100%;
    margin-top: 3px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="phone"],
.contact-form textarea  {
    width: 100%;
    padding: 11px 0;
    font-size: 1rem;
    margin: 10px 0;
    border: 2px solid rgb(143, 173, 236);;
    outline: none;
    resize: none;
}
.contact-form  button {
    text-align: center;
    margin: auto;
    background-color: #1f3e72;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    text-align: center;
    color: #1f3e72;;
}