@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


body {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bold;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    background-color: white;
}
.header{
    text-align: center;
}
.header > h1{
    margin-top: 10px;
    color: #1f3e72;
}
.header > p{
    padding: 0.8rem;
    line-height: 1.2rem;
    color: #8e98ae;
    text-align: justify;
    text-align: center;
}
.container{
    position: center;
}
.contact-info{
    width: 80%;
    height: 125vh;
    padding: 30px 40px;
    background-color: white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    /*margin-right: 20px;*/
    margin-left: 140px;
    /* margin-bottom: 10px; */
}

.c-info h3, .Smedia h3 {
    text-align: center;
    margin: 20px;
    color: rgb(164, 178, 209);
}

.c-infocon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.info{
    text-align: center;
    margin: 20px;
    color: rgb(164, 178, 209);
    background: #f0efef;
    padding: 10px;
}
.info > h3{
    margin-top: 15px;
    color: black;
}
.info p ,.info a{
    color: #1f3e72;
}
.icons{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
}
.icons a i {
    margin-left: 30px;
    font-size: 30px; 
}
.doccontact{
    text-align: center;
    color: black;
    margin-top: 20px;

    & > h3 {
        margin: 20px;
        color: rgb(164, 178, 209);
    }
}
.contact {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.doc{
    background: #f0efef;
    padding: 10px;
}

.contact > h4{
    margin-top: 15px;
    color: #1f3e72;
}
.contact a{
    margin-top: 15px;
    color: #1f3e72;
}