@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


body {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bold;
    background-color: #f1f7f8;
}

nav {
    padding: 1rem;
    font-size: 16px;
    background-color: #a6c9fd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    & > ul {
        display: grid;
        grid-template-columns: 18px 442PX repeat(3, 1.5fr) 1fr 1fr 1fr;

        & li.logo {
            width: 15px;
        }

        & li > img {
            width: 100%;
        }

        & li > a {
            color: #f1f7f8;
            cursor: pointer;
        }

        & li > a:hover {
            color: rgb(37, 117, 255);
        }

        & li > a.logIn {
            background-color: #092454;
            color: white;
            display: block;
            width: 90px;
            text-align: center;
            padding: 4px;
            border-radius: 33px;
        }
    }
}

div.home {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;

    & > div.homeContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > h1 {
            color: #1f3e72;
            padding: 0 8rem;
            font-size: 2.3rem;
        }

        & > p {
            padding: 2.5rem 8rem;
            font-size: 1.2rem;
            color: #8b97ae;
        }

        & > a.btn__home {
            font-size: 1.2rem;
            font-weight: 700;
            /* font-family: none; */
        }

        a.btn {
            width: max-content;
            display: inline-block;
            padding: 0.75rem 1rem;
            border-radius: 6rem;
            cursor: pointer;
            border: none;
            color: white;
            background-color: #0c2c64;
        }
        
        a.btn:hover {
            background-color: rgb(155, 155, 181);
            color: white;
            border-color: transparent;
        }
    }
}