
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


body {
    background-color: #f1f7f8;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bold;
}

div.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;

    & > div.homeContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > h1 {
            color: #1f3e72;
            padding: 0 8rem;
            font-size: 2.3rem;
        }

        & > p {
            padding: 2.5rem 8rem;
            font-size: 1.2rem;
            color: #8b97ae;
        }

        & > a.btn__home {
            font-size: 1.2rem;
            font-weight: 700;
            /* font-family: none; */
        }
    }
}