@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


body {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bold;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url('../images/log.png');
    background-size: cover;
}

.login-form{
    margin: auto;
    margin-top: 60px;
    width: 100%;
    max-width: 400px;
    height: 400px;
    padding: 30px;
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
label {
    display: block;
    margin-bottom: 6px;
}

.login-form input[type="email"],
.login-form input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid rgb(222, 216, 216);
}
.login-form input[type="checkbox"]{
    margin-bottom: 20px;

}
.login-form  button {
    width: 100%;
    background-color: #aec0dc;
    color: white;
    padding: 8px;
    border-radius: 16px;
    cursor: pointer;
}

.remembre{
    display: flex;
}

.login-form  > h1{
    font-size: 40px;
    color:  #aec0dc;
    margin-bottom: 10px;
}
.login-form  > p{
    margin-bottom: 10px;
    color: #092454;
}
.login-form  > p > a{
    color: #a1bce7;;
}
