@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


body {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bold;
    
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.signup {
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: url('../images/log.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.signup h2{
    font-size: 3rem;
}

.SignUpForm {
    width: 40%;
    padding: 30px 40px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
}

.SignUpForm h2 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: rgba(0, 81, 255, 0.902);
}

.SignUpForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 3px;
}

.SignUpForm .inputBox input,
.SignUpForm .inputBox textarea
{
    width: 100%;
    padding: 11px 0;
    font-size: 1rem;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(143, 173, 236);
    outline: none;
    resize: none;
}

.SignUpForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 11px 0;
    font-size: 1rem;
    margin: 10px 8px;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(169, 188, 229);
}

.SignUpForm .inputBox{
    padding: 11px 0;
    font-size: 1rem;
    font-weight: bold;
    /* margin: 10px 8px; */
    color: rgb(169, 188, 229);
}

.SignUpForm p {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

.SignUpForm p a {
    color: blue;
}

/* .SignUpForm .inputBox span.blood {
    left: -9px;
    bottom: -4px;
} */

.SignUpForm .inputBox input:focus ~ span,
.SignUpForm .inputBox input:valid ~ span,
.SignUpForm .inputBox textarea:focus ~ span,
.SignUpForm .inputBox textarea:valid ~ span {
    color: rgb(0, 119, 255);
    font-size: 12px;
    transform: translateY(-20px);
}

.SignUpForm .inputBox input[type="date"]
{
    color: white;
}

.SignUpForm .inputBox input[type="date"]:focus
.SignUpForm .inputBox input[type="date"]:valid
{
    color: #aec0dc;
}

.SignUpForm .inputBox input[type="submit"] {
    border: none;
}

.btn {
    display: inline-block;
    color: white;
    background-color: rgb(42, 42, 118);
    padding: 0.75rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(175, 208, 244);
    color: rgb(0, 128, 255);
    border-color: transparent;
}

.error-msg{
    color: red;
    /* margin:10px 0;
    display: block;
    background: crimson;
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    padding:10px; */
}