.row {
    margin-left: 250px;
}

.card {
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.card-header {
    display: grid;
    grid-template-columns: 8fr 1fr;
    margin-bottom: 15px;

    & > h4 {
        text-align: center;
    }
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.btn {
    display: inline-block;
    color: white;
    background-color: rgb(42, 42, 118);
    padding: 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: rgb(175, 208, 244);
    color: rgb(0, 128, 255);
    border-color: transparent;
}

.danger {
    background-color: crimson;
}

.btnSave {
    padding: 0.75rem 1rem;
}

.mb-4 {
    position: relative;
}

input, select {
    width: 70%;
    padding: 11px 0;
    font-size: 1rem;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(143, 173, 236);
    outline: none;
    resize: none;
}

label {
    position: absolute;
    left: 0;
    padding: 11px 0;
    margin: 10px 8px;
    pointer-events: none;
    transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label,
select:focus ~ label,
select:valid ~ label {
    color: rgb(0, 119, 255);
    font-size: 15px;
    transform: translateY(-20px);
}

input[type="date"]
{
    color: rgb(200, 188, 188);
    padding: 10px;
}

input[type="date"]:focus 
{
    color: #aec0dc;
}

select {
    color: rgb(5, 26, 50);
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(200, 188, 188);
}
th, td {
    padding: 5px;
    border: 1px solid rgb(200, 188, 188);
    text-align: center;
}

th {
    color: rgb(86, 86, 132);
    border-bottom: 2px solid grey;
}

.alert_message {
    color: #aec0dc;
}

.error-msg {
    color: crimson;
    padding: 10px;
    text-align: center;
    font-size: 17px;
}

.appTimeElement {
    width: 200px;
    background: rgb(224, 233, 255);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    position: relative;
    text-align: center;

    & > label {
        bottom: -32px;
        letter-spacing: 1px;
        word-spacing: 1px;
        font-weight: 500;
    }
}

.appTimeElement:hover {
    background: rgb(243, 246, 255);
    cursor: pointer;
}

input[type="radio"] {
    position: absolute;
    left: 120px;
    bottom: 2px;
}

input[type="radio"]:hover {
    cursor: pointer;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.service {
    background: #f9fafb;
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}